# Data Sciences Tools and Ecosystem

In this Notebook, all the four modules that we learned in the IBM Data Sciense and Ecosystem course will be summarized to complete the final task and achieve a good grade 
------------------------------------------------------------------------------------------------------------------------

**Objectives**
- List popular programming languages for Data Sience
- Indetify some of the commons Data Sicence libraries
- introduce popular Tools for Data Science
- Perfom a simple operatios using Python languaje 
- Get familiar with Jupyterlab

## Languages
1. Python
3. R
3. SQL
4. JAVA
5. MATLAB

Libraries
---
1. Numpy
2. Pandas
3. ggplot2
4. dplyr

| Data Science Tools |
|------------------- |
| JupyterNoteook     |
| RStudio            |
|Visual Studio Code  |

### Below are few examples of evaluating arithmetic expressions in python

In [2]:
# this is a simple arithmetic expression to multiply the add integers
(3*4)+5

17

In [3]:
#this will covert 200 minutes to shpur by dividing by 60
200/60

3.3333333333333335

# Luis Andres Jimenez Chargoy